<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="/assets/js/burgers.js"></script>
		<title>Bomb Burgers</title>
	</head>
	<body>
        <div class="container text-center">
            <img class="burgerPic" src="/assets/img/burger.jpg" alt="Burger Pic By: Quiony Navarro">
		{{{ body }}}
        </div> 
	</body>
</html>
